.img-fundo{
    width: 100%;
    height: 500px;
    position: relative;
 
}
h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
    opacity:0.85;
	-moz-opacity: 0.85;
	filter: alpha(opacity=85);
    padding: 0;
    color: rgb(250, 250, 250);
    font-size: 80px;
    text-align: center;
    border-radius: 30px;
}
.box-btn{
    width: 100%;
    height: 70px;
    background-color:black;
    border-top: #3c7ccc 7px solid;
    margin-top: -4px;
}
.btn-slide{
    width: 3%;
    transform: translate(980%,50%);
    margin-left: 6%;
    cursor: pointer;
}
.gif-sonic-slide{
    width: 15%;
    transform: translate(-240%,120%);
    position: absolute;
    display: none;
}
.gif-yoshi-slide{
    width: 12%;
    transform: translate(-630%,155%);
    position: absolute;
    display: none;
}

  