
.banner{
    width: 100%;
    height: 570px;
    background: url('../imagens/bannerAnime.jpg') no-repeat;
    background-size: cover;
    text-align: center;
    

}
.text_img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: orange ;
    opacity:0.85;
	-moz-opacity: 0.85;
	filter: alpha(opacity=85);
    padding: 0;
    color: rgb(250, 250, 250);
    font-size: 80px;
    text-align: center;
    border-radius: 30px;

}
.banner img{
    opacity: 0;
}
.banner b{
    color: rgb(13, 0, 133);
}
.introducao{
    margin-top: 84px;
    width: 80%;
    height: 250px;
  

}
.introducao h1{
  padding-top: 10px;
    text-align: center;
    background-color: orange;
    width: 80%;
    height: 60px;
    border-radius: 50px;
}
.introducao p{
    text-indent: 50px;
    width: 100%;
    height: 100px;
    background-color: rgb(151, 150, 147);
    border-radius: 3px;
}
.slide{
    width: 100%;
    height: 540px;
    background-color: aqua;
   
    
}
.txt-slide{
    width: 50%;
    height: 100%;
    background-color:rgb(5, 11, 63);
    float: left;
    

}
.txt-anime{
    padding: 50px;
    display: none;
    color: white;
}

#txt1{
    display: block;
}
.txt-anime h1{
margin: 0;
padding: 0;
}
.borda-img{
    padding: 80px;
   
}
.img-slide{
    background-image: url('../imagens/constelação.jpg');
    background-size: cover;
    width: 50%;
    height: 100%;
    background-color: darkblue;
float: left;
 
}
.img-slide img{
    width: 100%;
    height: 350px;
   
}
.btn-slide{
    width: 100%;
    height: 70px;

    text-align: center;
}
.btn-slide button{
    width: 20%;
    height: 50%;
    background-color: orange;
    cursor: pointer;
    color: white;

}
.btn-slide button:hover{
    background-color: orangered;
}
