body{
    background-color: black;
    margin: 0;
}
@font-face {
    font-family: Heroes Legend Hollow;
    src: url(../fonts/Heroes\ Legend\ Hollow.ttf)
  }
.conteudo{
    width: 100%;
    height: 660px;

}
.img-antiga{
    width: 44.4%;
    height: 100%;
    background-image: url(../imagens/home/minha-infancia.jpg);
    float: left;
}

.apresentacao{
    width: 54%;
 
    height: 200px;
    float: left;
    text-align: center;
}
.apresentacao h1{
    color: white;
}
.titulo-logo{
    font-size: 250%;
    font-family: Heroes Legend Hollow ;
    color: #3c7ccc !important;
  
}
@keyframes boxlogin{
    0%{
        transform: translate(-500%,0%);
    }
    100%{
        transform: translate(0%,0%);
    }
}
.box-login{
    width: 27%;
    height: 350px;
    background-color: white;
    border: #3c7ccc 15px solid;
    border-radius: 25px;
    margin-left: 12%;   
    float: left;
    animation-name: boxlogin;  
    animation-duration: 3s;
   
}
.box-login h1{
    text-align: center;
    margin: 0;
    color: #3c7ccc;
}
.box-login img{
    margin-left: 37%;
}
form label{
    display: block;
    margin-top: 14px;
}
form input{
    display: block;
    margin-left: 27%;
    width: 42%;
    
  
}
form{
    text-align: center;
}
.btn-entrar{
    margin-left: 40%;
    margin-top: 3%;
    width: 20% !important;
    border: 3px black solid;
    background-color: #3c7ccc;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}
.msg-cadastro{
    width: 50%;
    height: 40px;
    background-color: #3c7ccc;
    margin-top: 90px;
    margin-left: 20px;
    text-align: center;
}
.msg-cadastro img{
    margin-right: 80px;
    float: right;
}



    
